*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/*! Navbar */

.desktopTitles{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 63px; 
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 0px 0px 15px 15px;
}

#navbar select{
    padding-left: 10px;
    width: 234px;
    height: 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 400;
    color: #3F3F3F;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("./img/down-arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px 12px;
    font-size: 24px;
  }

.rightLogo{
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 50%;
}

/*! Main Border */

#waitingList, #mainBorder{
    margin: auto;
    width: 360px;
}

.waitingList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px 6.2px 10px;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.questionIcon, .refreshIcon{
    padding-top: 5px;
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    transform: rotate(-0.21deg);
}

.questionIcon{
    right: 20px;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    transform: rotate(-0.21deg);
}

.refreshIcon{
    left: 45px;
}

#mainBorder{
    background: linear-gradient(white, white) padding-box,      linear-gradient(to right, #B74534, #C95D4D) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 5px 0px 10px 0px;
}

.desktopAnnouncement{
        width: 784px;
        background: linear-gradient(white, white) padding-box,      linear-gradient(to right, #B74534, #C95D4D) border-box;
        border-radius: 15px;
        border: 2px solid transparent;
        padding: 10px 0px 28px 0px;
}

.desktopAnnouncement h4{
    font-size: 24px;
    font-weight: 700;
    color: #393939;
}

#mainBorderTop, #mainBorderTopDesktop{
    display: flex;
    justify-content: space-between;
    color: #222222;
}

#mainBorder p, #mainBorderTopDesktop p{
    margin: 5px 20px 5px 10px;
    font-weight: 500;
}

#mainBorder article .announcementBackground{
    color: black;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    margin: 5px 0px;
    padding: 5px 10px;
    margin-top: 0px;
    }


.announcementBackground{
    background-color: #FFDCD1;
}

#announcementDate{
    position: relative;
    top: 5px;
    color: 
    #393939;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
}

#datePostedHours span{
    font-size: 8px;
    font-weight: 300;
}

.mainPlayerList{
    display: flex;
    align-items: center;
}

.border-top{
    border-top: 1px solid #E4E4E4;
}

.dark:nth-child(odd){
    background-color: #F5F5F5;
}

.mainPlayerList p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.mainPlayerList span{
    font-weight: 700;
    font-size: 16px;
}

.trashCan{
    margin-left: 15px;
    color:#C95D4D;
}

.gameRating{
    font-size: 24px;
    font-weight: 700;
}

.timer{
    padding-left: 20px;
    font-weight: 400;
    font-size: 12px;
    max-width: 75px;
    min-width: 75px;
}

.rightPlayers{
    max-width: 122px;
    min-width: 122px;
    white-space: nowrap;
}

.leftPlayers{
    max-width: 222px;
    min-width: 222px;
    white-space: nowrap;
}

.gameRating{
    text-align: center;
    max-width: 70px;
    min-width: 70px;
}

.gameType{
    text-align: center;
    height: 39px;
    max-width: 132px;
    min-width: 132px;
}

.gameRating, .timer, .rightPlayers, .leftPlayers{
    color: #414141;
}
    
.gameRating img{
    width: 42px;
}

#yourName{
    color: #B74534;
}

i:hover, #addMe:hover, .backgroundWhite:hover, .court img:hover{
    cursor: pointer;
}

/*! Display */

.display{
    position: relative;
    bottom: 14px;
    display: flex;
    justify-content: center;
    gap: 120px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.backgroundWhite{
    background-color: white;
}

.bgWhiteSize-50{
    text-align: center;
    width: 37px;
}

.bgWhiteSize-142{
    text-align: center;
    width: 142px;
}

.backgroundWhite p{
    color: #B74534;
    text-decoration: underline;
}

/*! Hide Elements */
.hide{
    display: none !important;
    transition: 1s;
}
/*! Hide Elements */

.noRotate{
    transform: rotate(0deg);
    transition: 1s;
}

.rotate{
    transform: rotate(180deg);
    transition: 1s;
}

/*! Court Menu */

#courtMenu{
    width: 360px;
    margin: auto;
    position: relative;
    margin-top: -20px;
}

.compass{
    display: flex;
    justify-content: end;
    position: relative;
}

.compass img{
    position: relative;
    justify-content: end;
    top: 15px;
    right: 10px;
}

.court{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.court img{
    width: 44px;
    border-right:3px solid white;
    border-left: 3px solid white;
    border-top:2.5px solid white;
    border-bottom:2.5px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px red;
}

.court .selected{
    width: 44px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px red;
    opacity: 0.4;
}

#addMe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 359px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 4px;
    border: none;
    color: white;
    margin-bottom: 10px;
}

.addMeDisabled{
    opacity: 0.5;
    transition: 1s;
}

.courtsContent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    line-height: 28px;
    box-shadow: 1px 1px 15px red;
    border-radius: 8px;
    width: 108px;
    height: 203px;
    background-image: url("./img/icons/courtDesktop.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.courtsContent p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.courtsContent figcaption{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    position: relative;
    left: 4px;
    background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 28px;
    z-index: 1;
}

/*! Responsive */
/*! Desktop */
@media only screen and (min-width: 1664px){
    .timer{
        padding-left: 70px;
        font-weight: 400;
        font-size: 24px;
        max-width: 200px;
        min-width: 200px;
    }
    .timer span{
        font-size: 24px;
    }

    #navbar, #waitingList, .displayContainer, .trashCan, .courtItems, #mainBorderTop, #announcement {
        display: none;
    }
    .desktopRightSide{
        padding-right: 96px;
        margin-top: 0 !important;
    }
    
    .desktopLeftSide{
        margin-top: 0 !important;
    }

    #desktopContainer{
        display: flex;
        justify-content: center;
    }
    #waitingList, #mainBorder{
        margin: auto;
        width: 886px;
    }

    #mainBorder{
        margin-left: 49px;
        padding: 7px 0px 10px 0px; 
    }

    #mainBorderTopDesktop{
        display: flex;
        justify-content:flex-start;
        align-items:last baseline;
        margin-left: 25px;
        gap: 10px;
    }

    .desktopGameText{
        font-size: 20px;
        text-align: center;
    }

    #waitingTimeText{
        font-size: 24px;
        position: relative;
        left: 345px;
    }

    .court{
        justify-content: space-evenly;
    }

    #courtMenu{
        width: 784px;
        margin: auto;
        position: relative;
    }
    .mainPlayerList{
        height: 106px;
    }
    .mainPlayerList p{
        font-size: 18px;
        padding: 10px;
    }
    .rightPlayers{
        max-width: 222px;
        min-width: 222px;
    }
    .leftPlayers{
        margin-left: 22px;
        max-width: 222px;
        min-width: 222px;
    }
    .court img, .court .selected{
        width: 108px;
    }
    #addMe{
        width: 778px;
        height: 80px;
        font-size: 24px;
        font-weight: 600;
    }
    .compass{
        position: absolute;
        right: -80px;
        top: -50px
    }
    
    .extraMargin{
        margin: 15px 0px 15px 0px;
    }

    .compass img{
        width: 52px;
    }
    #desktopContainer .announcementBackground{
        padding: 24px;
    }
    .announcementBackground, #datePosted, #datePostedHours{
        font-size: 18px;
    }
    #datePosted{
        padding-left: 24px;
    }
    #datePostedHours{
        padding-right: 54px;
    }
    #datePostedHours span{
        font-size: 14px;
        font-weight: 300;
    }
    #announcementDate{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
/*! Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1663px) {
    .gameType, .gameRating, .desktopTitles, .desktopAnnouncement, .courtsContent, #mainBorderTopDesktop{
        display: none;
    }

    #navbar select{
        width: 400px;
    }
    #addMe{
        width: 450px;
        font-size: 18px;
    }
    #waitingList, #mainBorder, #courtMenu, .displayContainer{
        margin: auto;
        width: 550px;
    }
    .mainPlayerList p{
        font-size: 15px;
    }
    #mainBorder{
        padding: 10px 0px 20px 0px;
    }
    
    #mainBorderTop{
        font-size: 17px
    }
    .rightPlayers{
        max-width: 210px;
        min-width: 210px;
    }
    .leftPlayers{
        max-width: 210px;
        min-width: 210px;
    }
    .display{
        font-size: 18px;
        justify-content: space-evenly;
    }
    .court img, .court .selected{
        width: 90px;
    }
    .compass img{
        justify-content: end;
        width: 52px;
        top: 15px;
        right: 0px;
    }
    }
/*! Mobile*/
@media only screen and (min-width: 360px) and (max-width: 767px){
    .gameType, .gameRating, .desktopTitles, .desktopAnnouncement, .courtsContent, #mainBorderTopDesktop{
        display: none;
    }
    #navbar select{
            width: 204px;
    }
    .compass img{
        display: flex;
        justify-content: end;
        top: 10px;
        right: 5px;
    }
    .mainPlayerList p{
        font-size: 11px;
    }
    #mainBorderTop{
        font-size: 13px
    }
    .timer{
        padding-left: 20px;
    }
    .rightPlayers{
        max-width: 122px;
        min-width: 122px;
    }
    
    .leftPlayers{
        max-width: 122px;
        min-width: 122px;
    }
}
/*! Older Mobile*/
@media only screen and (min-width: 320px) and (max-width: 359px){
    .gameType, .gameRating, .desktopTitles, .desktopAnnouncement, .courtsContent, #mainBorderTopDesktop{
        display: none;
    }
    #addMe{
        width: 250px;
    }
    .compass img{
        display: flex;
        justify-content: end;
        width: 42px;
        top: 9px;
        right: 0px;
    }
    .mainPlayerList p{
        font-size: 10px;
    }
    #mainBorderTop{
        font-size: 12px
    }
    .timer{
        padding-left: 10px;
    }
    .rightPlayers{
        max-width: 112px;
        min-width: 112px;
    }
    
    .leftPlayers{
        max-width: 112px;
        min-width: 112px;
    }
    .trashCan{
        margin-left: 0px;
    }
    #courtMenu, #waitingList, #mainBorder{
        width: 320px;
    }
}